{% extends 'layouts/base.html.twig' %}

{% block title 'create pin #' %}

{% block body %}
    <div class="create_wrapper" >
    <h1>Creation pin </h1>
    <a href="{{ path('app_home') }}">Home</a>

    {{ include('partials/_form.html.twig', {'submitButtonText': 'Create Pin'}) }}
    </div>
{% endblock %}